@using ECommerceDomain
@model IList<Product>;

<div class="container">
<h1 class="w-50 mx-auto">Product List</h1>
<table class="w-50 mx-auto"> 
    <thead>
        <tr>
            <th class="col-lg-2">Name</th>
            <th class="col-lg-3">Description</th>
            <th class="col-lg-2">Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach(var product in Model) {
        <tr>
            <td class="col-lg-2">@product.Name</td>
            <td class="col-lg-3">@product.Description</td>
            <td class="col-lg-2"><img src="@product.ImageUrl" alt="@product.Name" style="width:50px;height:50px;" /></td>
            <td class="col-lg-1"><a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@product.ProductId"><i class="bi bi-pencil"></i></a></td>
        </tr>
    }
    </tbody>
</table>
</div>

<style>
.container{
    font-size:12px !important;
}
</style>